@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    font-face{
        font-family: "Cocon";
        src: url('/public/fonts/cocon-regular.otf') format('otf');
    }
    font-face{
        font-family: "Quicksand-bold";
        src: url('/public/fonts/quicksand-bold.ttf') format('truetype');
    }
    font-face{
        font-family: "Quicksand-semibold";
        src: url('/public/fonts/quicksand-semibold.ttf') format('truetype');
    }
    font-face{
        font-family: "Quicksand-regular";
        src: url('/public/fonts/quicksand-regular.ttf') format('truetype');
    }
}