@tailwind base; 
@tailwind components; 
@tailwind utilities;



.navbar{
    background:  transparent; 
    position: fixed; 
    width:  100vw; 
    z-index:  30;
}

.navbar.active{
    background:  #fcfcfc;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    max-width:100%;
  }

.nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 64px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
}
.nav-menu.active {
    background: #fcfcfc;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-menu.active.mobile {
    position: fixed;
    margin-top: -65px;
    z-index: 10;
  }

.nav-menu-container{
  margin-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, auto));
  align-items: baseline;
  margin-top: 1rem; /* 16px */
  justify-items: end;
  align-items: center;
}

  .nav-links {
    color: #ffffff;
    text-align: center;
    padding: 0.25rem 1rem;
    margin: 5px 5px;
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 1rem;
  }

  .nav-links.alt{
    color: #414141;
  }

  .nav-links:hover {
    color: #74bade;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 0.25rem auto;
    border-radius: 50px;
    width: 80%;
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    color: #414141;
    font-weight: 500;
    padding: 14px 20px;
    /* border: 1px solid #fff; */
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    color: #74bade;
    transition: 250ms;
  }

  .logo{
      margin-left: 30px;
  }

.sign_up-btn{
  background: #fcfcfc;
  color: #414141;
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 200ms;
  padding-left: 1.75rem; /* 28px */
  padding-right: 1.75rem; /* 28px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  height: fit-content;
  width: fit-content;
  font-weight: 500;
  border-radius: 50px;
}

.sign_up-btn:hover{
  background: #74bade;
  color: #fcfcfc;
}

.sign_up-btn.alt{
  background:  #74bade;
  color: #fcfcfc;
}

.sign_up-btn.alt:hover{
  background: #88c9e9;
}

.sign_up-btn.dropdown{
  background:  #74bade;
  color: #fcfcfc;
  align-self: center;
  margin: 0.25rem auto;
  padding: 14px 20px;
  height: 50px;
  width: 300px;
  border-radius: 100px;
  margin-bottom: 20px;
}

.sign_up-btn.dropdown:hover{
  background: #88c9e9;
}